{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<h2>Info About Us</h2>
<p>The more content you have on your website, the more opportunities you have to 
attract and engage guests online. Boston's Mei Mei Street Kitchen does 
a great job of this - including information about their restaurant and food truck, 
content about their local and sustainable approach, as well as links to recent press. 
On top of all that, they have a blog where they post about their food, events, and more.
A blog is a great way to keep customers coming back to your website and staying engaged 
with you in-between visits.</p>


{% endblock body %}