{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% block body %}
<div class-"container-fluid px-4">
<img src="https://source.unsplash.com/1600x400/?phone,contact" class="d-block w-100 my-4" alt="...">
<h3 class="text-center">Contact Us</h3>
<h4 class="text-center">Contact no.-1234567</h4>
<h4 class="text-center">Email- abc@gmail.com</h4>
<h4 class="text-center">Address- shop no.123, xyz raod, Pune, Maharashtra </h4>
<h3 class="text-center">Write Your Review here</h3>
</div>
<div class="container">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Type here</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

</div>
{% endblock body %}